* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Helvetica;
    text-align: justify;
    background-color: goldenrod;
    color: white;
}

header {
    background-color: gray;
    padding: 10px;
}

section {
    background-color: gray;
}

section article {
    padding: 20px;
}